@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Open Sans';
  height: 100%;
  color: #0a2852;
  background-color: #fff;
}

h2 {
  font-size: 30px;
  vertical-align: center;
  text-align: center;
}

h1 {
  vertical-align: center;
  text-align: center;
  font-size: 305x;
}

h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.external-link {
  display: flex;
  justify-content: center;
  align-items: center;

}

.external-link > a {
  background-color: #0a2852;
  text-align: center;
  padding: 30px 50px;

}

.external-link a:hover {
  background-color: #fff;
  color: #0a2852;
  border: 2px solid #0a2852;
}


.banner {
  /*background-color: #00c4ff;*/
  padding: 0px;
  /*border: 5px solid #fff;*/
  color: #0a2852;
}


/*blurb and pic*/
.blurb-pic {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

.blurb-pic > a {
/*  min-width: 35%;*/
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #0a2852;
  color: #fff;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 30px 50px;
}

.blurb-pic a:hover {
  background-color: #fff;
  color: #0a2852;
  border: 2px solid #0a2852;
}


.blurb-pic-2 {
  display: grid;
  align-items: top;
  grid-template-columns: 50% 50%;
}

#map {
  height: auto;
  width: 90%;
}

.text-button {
  padding: 0px 10px;
  margin-top: 12px;
}

@media only screen and (max-width: 1070px) {
  .blurb-pic-2 {
    font-size: 20px;
  }
}


@media only screen and (min-width: 1070px) {
  .blurb-pic-2 {
    font-size: 27px;
  }
}

@media only screen and (max-width: 815px) {
  .blurb-pic-2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 655px) {
  .blurb-pic-2 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 530px) {
  .external-link > a {
    padding: 10px 35px;
    font-size: 10px;

  }
}

/*Nav Bar and Hamburger*/

.top-nav {
  /*position: sticky;
  top: 0;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0a2852;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 2000px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    /*border: 1px solid lightgrey;*/
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #0a2852;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*End Navbar and hamburger*/

/*latest flexboxing*/

.ql-box {
text-align: center;
}

@media only screen and (max-width: 1000px) {
  .ql-box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (min-width: 1000px) {
  .ql-box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

}

@media only screen and (max-width: 500px) {
  .ql-box {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}


.ql-box a:hover {
  background-color: #ff5c66;
}

.ql-box > a {

  margin: 5px;
  font-size: 20px;
  background-color: #00c4ff;
  /*opacity: 0.5;*/
  color: #fff;
  padding-top: 25%;
  padding-bottom: 25%;
}


.quick-links {
  margin: 0px 10px;
}

/* Contact Links */
.contact-c {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: center;
  text-align: center;
}
.contact-c > a {
  background-color: hsl(200, 65%, 85%);
  margin: 5px;
  padding: 10px;
  overflow: hidden;
}

.contact-c > a:hover {
  color: hsl(200, 65%, 40%);
  margin: 4px;
  padding: 11px;
}

.email {
  color: hsl(200, 65%, 40%);
}


.example {
  background-color: lightgrey;
  padding: 10px 0px;
  margin: 0px 10px;
}

.progress-bar {
  width: 96%;
  /*border: 3px dashed #0a2852;*/
  margin: 2%;
}

/*Footer*/

.small-page {
  text-align: center;
/*  margin: 10px 0 0px 0;*/
  background-color: #0a2852;
/*  padding: 15px 0 15px 0;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.ql-foot {
  text-align: center;
/*  margin: 10px 0 0px 0;*/
  background-color: #0a2852;
/*  padding: 15px 0 15px 0;*/
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 11% repeat(3, 26%) 11%;
  align-items: center;
  justify-items: center;
}

.ql-foot > a {
  font-size: 12px;
  /*opacity: 0.5;*/
  color: #fff;
}
